.danger {
  font-size: 15px;
  color: red;
  margin:2px;
  height: 1.5em;
}

.conteinerForm{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  align-items: center;
}

.form{
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  padding: 50px;
  border: 5px solid wheat;
  border-radius: 10px;
  background: radial-gradient(circle at top, #000000, #000000 10%, #040047 50%, #1d006e 70%, #390099 80%, #5f00b4 90%, #8100cc);
  background-size: 200% 200%;
  animation: nebulaAnimation 30s ease infinite;
}

@keyframes nebulaAnimation {
  0% { background-position: 50% 0%; }
  50% { background-position: 50% 100%; }
  100% { background-position: 50% 0%; }
}

.label{
  color: wheat;
  font-size: xx-large;
  margin-bottom: 10px;
}

.input{
  height: 30px;
  width: 270px;
  border-radius: 10px;
  font-size: large;
}

.boton{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  border:2px solid wheat;
}

.sectorInput{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}